<!DOCTYPE html>
<html>
<head th:replace="base/form :: head" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header" th:replace="base/menu :: main-header" />
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar" th:replace="base/menu :: main-sidebar" />

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<span th:text="${pageName}">Simple Tables</span> <small
						th:text="${pageNameDesc}">preview of simple tables</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Forms</a></li>
					<li class="active">General Elements</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<!-- column -->
					<div class="col-md-12">
						<!-- Horizontal Form -->
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title" th:text="${formName}">Horizontal Form</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<form class="form-horizontal" action="#" th:action="@{/tap}"
								th:object="${tap}" method="post">
								<div class="box-body">

									<div
										th:class="${#fields.hasErrors('idSchedule')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputIdSchedule" class="col-sm-2 control-label">Id Schedule</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputIdSchedule"
												placeholder="Id Schedule" th:field="*{idSchedule}" /> <span
												class="help-block" th:if="${#fields.hasErrors('idSchedule')}"
												th:errors="*{idSchedule}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('idUser')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputIdUser" class="col-sm-2 control-label">Id User</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputIdUser"
												placeholder="Id User" th:field="*{idUser}" /> <span
												class="help-block" th:if="${#fields.hasErrors('idUser')}"
												th:errors="*{idUser}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('idKelompok')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputIdKelompok" class="col-sm-2 control-label">Id Kelompok</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputIdKelompok"
												placeholder="Id Kelompok" th:field="*{idKelompok}" /> <span
												class="help-block" th:if="${#fields.hasErrors('idKelompok')}"
												th:errors="*{idKelompok}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('scheduleTanggal')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputScheduleTanggal" class="col-sm-2 control-label">Tanggal</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputScheduleTanggal"
												placeholder="Tanggal" th:field="*{scheduleTanggal}" /> <span
												class="help-block" th:if="${#fields.hasErrors('scheduleTanggal')}"
												th:errors="*{scheduleTanggal}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('scheduleStart')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputScheduleStart" class="col-sm-2 control-label">Start</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputScheduleStart"
												placeholder="Start" th:field="*{scheduleStart}" /> <span
												class="help-block" th:if="${#fields.hasErrors('scheduleStart')}"
												th:errors="*{scheduleStart}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('scheduleStop')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputScheduleStop" class="col-sm-2 control-label">Stop</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputScheduleStop"
												placeholder="Stop" th:field="*{scheduleStop}" /> <span
												class="help-block" th:if="${#fields.hasErrors('scheduleStop')}"
												th:errors="*{scheduleStop}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('userNumber')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputUserNumber" class="col-sm-2 control-label">User Number</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputUserNumber"
												placeholder="User Number" th:field="*{userNumber}" /> <span
												class="help-block" th:if="${#fields.hasErrors('userNumber')}"
												th:errors="*{userNumber}">Help block with error</span>
										</div>
									</div>
									
									<div
										th:class="${#fields.hasErrors('scheduleTipe')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputKelompokTipe" class="col-sm-2 control-label">Tipe</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputKelompokTipe"
												placeholder="Tipe" th:field="*{scheduleTipe}" /> <span
												class="help-block" th:if="${#fields.hasErrors('scheduleTipe')}"
												th:errors="*{scheduleTipe}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('nama')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputNama" class="col-sm-2 control-label">Nama</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputNama"
												placeholder="Nama" th:field="*{nama}" /> <span
												class="help-block" th:if="${#fields.hasErrors('nama')}"
												th:errors="*{nama}">Help block with error</span>
										</div>
									</div>

									<div
										th:class="${#fields.hasErrors('status')} ? 'form-group  has-error' : 'form-group'">
										<label for="inputStatus" class="col-sm-2 control-label">Status</label>

										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputStatus"
												placeholder="Status" th:field="*{status}" /> <span
												class="help-block" th:if="${#fields.hasErrors('status')}"
												th:errors="*{status}">Help block with error</span>
										</div>
									</div>

									<div class="form-group">
										<label for="inputNote" class="col-sm-2 control-label">Note</label>

										<div class="col-sm-9">
											<textarea class="form-control" rows="3" id="inputNote"
												placeholder="Enter ..." th:field="*{note}"></textarea>
										</div>
									</div>

								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<a class="btn btn-default" th:href="@{/tap}">Back</a>
									<button type="submit" class="btn btn-info pull-right">Save</button>
								</div>
								<!-- /.box-footer -->
							</form>
						</div>
						<!-- /.box -->
					</div>
					<!--/.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="base/menu :: main-footer" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark"
			th:replace="base/menu :: control-sidebar" />
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<div th:replace="base/form :: jquery" />
</body>
</html>
